.ais-SearchBox-form,
.ais-SearchBox-input {
  height: 100%;
}

.ais-SearchBox-form {
  display: flex;
  width: 100%;
}

.ais-SearchBox-submit {
  order: 1;
  padding: 1rem;
  flex-shrink: 0;
}

.ais-SearchBox-input {
  order: 2;
  padding: 1rem 0;
  flex-grow: 1;
}

.ais-SearchBox-reset {
  order: 3;
  flex-shrink: 0;
  padding: 1rem;
  fill: #ef5753;
}

.ais-PoweredBy-text {
  margin-right: .5rem;
}

.ais-Menu-noResults {
  padding: 1rem;
}

.ais-Menu-list,
.ais-InfiniteHits-list {
  list-style: none;
  padding: 0;
}

.ais-Menu-list {
  padding: .5rem 0;
}

.ais-Menu-item,
.ais-ToggleRefinement {
  padding: .5rem 1rem;
}

.ais-Menu-item--selected {
  border-right: 2px solid #3490dc;
}

.ais-Menu-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.ais-Menu-count {
  font-size: .875rem;
  color: #b8c2cc;
}

.ais-ToggleRefinement-checkbox {
  margin-right: .5rem;
}

.ais-Menu-searchBox .ais-SearchBox {
  border-top: 1px solid #dae1e7;
  border-bottom: 1px solid #dae1e7;
}

.ais-Menu-searchBox .ais-SearchBox-input,
.ais-Menu-searchBox .ais-SearchBox-submit,
.ais-Menu-searchBox .ais-SearchBox-reset {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.ais-InfiniteHits {
  width: 100%;
}

.ais-Highlight-highlighted {
  font-style: normal;
  font-weight: bold;
}

.ais-InfiniteHits-loadMore {
  width: 100%;
  padding: 1rem;
  border-radius: .25rem;
  color: #b8c2cc;
  border: 2px solid #dae1e7;
  font-weight: bold;
}

.ais-InfiniteHits-loadMore--disabled {
  display: none;
}

.transition {
  transition: all .1s linear;
}

aside.max-h-screen,
main.max-h-screen {
  max-height: calc(100vh - 100px);
}