::-webkit-input-placeholder {
  line-height: normal;
}

.ais-PoweredBy-link {
  height: 1rem;
  display: block;
}

.ais-PoweredBy-logo {
  height: 100%;
  width: auto;
}

.ais-PoweredBy-logo path:nth-child(2),
.ais-PoweredBy-logo path:nth-child(4) {
  fill: #5468ff;
}

.ais-SearchBox-form {
  height: 100%;
}

.ais-SearchBox-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ais-SearchBox-submit {
  position: absolute;
  order: 1;
  left: 1rem;
  padding: 1rem;
  flex-shrink: 0;
}

.ais-SearchBox-input {
  order: 2;
  padding: 1rem 3rem;
  margin: 0.75rem;
  background: #f1f5f8;
  outline: none;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0.25rem;
}

.ais-SearchBox-reset {
  position: absolute;
  right: 1rem;
  order: 3;
  flex-shrink: 0;
  padding: 1rem;
  fill: #ef5753;
}

.ais-PoweredBy-text {
  margin-right: 0.5rem;
  white-space: nowrap;
  font-size: 0.85rem;
}

.ais-Menu-noResults {
  padding: 1rem;
}

.ais-Menu-list,
.ais-InfiniteHits-list {
  list-style: none;
  padding: 0;
}

.ais-Menu-list {
  padding-bottom: 0.5rem;
}

.ais-Menu-item,
.ais-ToggleRefinement {
  padding: 0.5rem 1rem;
}

.ais-ToggleRefinement-label {
  cursor: pointer;
}

.ais-Menu-item--selected {
  font-weight: bold;
  box-shadow: inset -2px 0 0 0 #5468ff;
}

.ais-Menu-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.ais-Menu-count {
  font-size: 0.875rem;
  color: #b8c2cc;
  font-weight: normal;
}

.ais-ToggleRefinement-checkbox {
  margin-right: 0.5rem;
}

.ais-Menu-searchBox .ais-SearchBox-input,
.ais-Menu-searchBox .ais-SearchBox-submit,
.ais-Menu-searchBox .ais-SearchBox-reset {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.ais-Menu-searchBox .ais-SearchBox-input {
  margin-top: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.ais-Menu-searchBox .ais-SearchBox-submit {
  left: 0.75rem;
}

.ais-Menu-searchBox .ais-SearchBox-reset {
  right: 0.75rem;
}

.ais-Menu-searchBox .ais-SearchBox-submit,
.ais-Menu-searchBox .ais-SearchBox-reset {
  top: 0;
}

.ais-InfiniteHits {
  width: 100%;
}

.ais-InfiniteHits-item {
  display: block;
}

.ais-InfiniteHits-item::after {
  content: '';
  display: table;
  clear: both;
}

.ais-Highlight-highlighted {
  font-style: normal;
  font-weight: bold;
}

.ais-InfiniteHits-loadMore {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  color: #b8c2cc;
  border: 2px solid #dae1e7;
  font-weight: bold;
  transition: all 0.1s linear;
}

.ais-InfiniteHits-loadMore:hover {
  background: #dae1e7;
  color: #fff;
}

.ais-InfiniteHits-loadMore--disabled {
  display: none;
}

.transition {
  transition: all 0.1s linear;
}

.overflow-y-scroll {
  -webkit-overflow-scrolling: touch;
}

aside.max-h-screen,
main.max-h-screen {
  max-height: calc(100vh - 124px);
}
